
:root {
    --color1: #ff8c92;
}

body {
    font-family: 'Acrom Regular';
    background-image: url("../img/bg.png");
    // background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
::-webkit-scrollbar { width: 3px; height: 3px;}
// ::-webkit-scrollbar-button {  background-color: #666; }
// ::-webkit-scrollbar-track {  background-color: #999;}
::-webkit-scrollbar-track-piece { background-color: #ffffff;}
::-webkit-scrollbar-thumb { height: 50px; background-color: var(--color1); border-radius: 3px;}
// ::-webkit-scrollbar-corner { background-color: #999;}
::-webkit-resizer { background-color: #666;}

a {
    text-decoration: none;

    &:hover {
        transition: 0.3s;
    }
}

.btn-primary:focus {
    box-shadow: none;
}

nav {
    .navbar-brand {
        img {
            width: 50%;
            height: 50%;
        }
    }

    .navbar-collapse {
        // font-family: 'Acrom ExtraBold';
        color: #fff;

        .nav-link {
            color: #fff;

            
            &:hover {
                color: var(--color1);
            }
            
        }
    }

    .other {
        .btn {
            color: black;
            background-color: white;
            border-color: white;
            border-radius: 20px;
            font-weight: bold;

            &:hover {
                background-color: var(--color1);
                border-color: var(--color1);
                color: #Fff
            }
        }
    }
}

.index {
    color: #fff;
    .texted {
        padding-top:200px;
        h1 {
            font-family: 'Gotham Pro Bold';
        }
    
        .btn {
            width: 210px;
            height: 53px;
            border-radius: 20px;
            padding-top:2vh;
            background-color: #fff;
            color: black;
            border-color: white;
    
            &:hover {
                background-color: var(--color1);
                border-color: var(--color1);
                color: #Fff
            }
        }
        p {
            text-shadow: 0px 4px 4px #000000;
        }
    
        span {
            color: white;
            font-weight: bold;
        }
    
        .iemerald {
            .gem {
                background-image: url(../img/gem.png);
                position: absolute;
                width: 155px;
                height: 100px;
                z-index: -1;
                margin-top: -5vh;
                margin-left: 11vh;
            }
        }
        .iemerald2 {
            .gem {
                background-image: url(../img/gem2.png);
                position: absolute;
                background-repeat: no-repeat;
                width: 155px;
                height: 100px;
                margin-top: -10vh;
                z-index: -1;
                margin-left: 50vh;
            }
        }
    }

    .girls {
        background-image: url(../img/madam.png);
        height: 100vh;
        background-size: contain;
        background-repeat: no-repeat;
        width: 60vh;
        margin-left: auto;
    }
}

.newsed {
    padding-top:50px;
    padding-bottom: 100px;

    h1 {
        color: #fff;
        font-family: 'Gotham Pro Bold';
        font-size: 30px;
    }

    h4 {
        color: #fff;
        font-family: 'Gotham Pro Bold';
        font-size: 20px;
    }

    .row {
        .news {
            margin-top:50px;
            width: 498px;
            height: 224px;
            background: rgba(255, 255, 255, 0.5);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 30px;
        }
    }
}

.monitoring {
    padding-top:50px;
    padding-bottom: 100px;
    color: #fff;
    h1 {
        font-family: 'Acrom ExtraBold';
    }

    h4 {
        font-family: 'Acrom ExtraBold';
        font-size: 24px;
    }

    .mon {
        margin-top: 100px;
        .card {
            margin: auto;
            background: rgba(61, 61, 61, 0.5);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 30px;
            width: 692.09px;
            height: 311.3px;
    
            .img {
                padding-top:40%;
            }
    
            .col-sm {
                text-align: center;
    
                .ip {
                    background: rgba(150, 150, 150, 0.24);
                    border-radius: 14px;
                    padding:15px;
                    margin:auto;
                    margin-top:30px;
    
                    .col-3 {
                        border-right: 4px solid #ffffff;
                    }
    
                    p {
                        font-size: 30px;
                    }
                }
    
                .info {
                    padding-top: 30px;
                    font-family: 'Gotham Pro Light';
                }
            }
        }
    }
}

.monitorings {
    color: #fff;
    h4 {
        font-family: 'Acrom ExtraBold';
        font-size: 24px;
    }

    .card {
        background: rgb(40 40 43);
        box-shadow: 0px 4px 4px #000000;
        border-radius: 15px;
        height: 75vh;
        margin-bottom: 5vh;
        
        .table {
            color: #fff;
        }
        .return {
            font-weight: bold;
            font-size: 15px;
        }
        .buttons {
            .osn {
                padding: 4em 4em 4em 2em;
            }
            .orgs ,.jobs,.tops {
                padding: 1em 4em 1em 2em;
                height: 70vh;
                overflow-y: scroll; 
            }
            a {
                font-size: 16px;
                cursor: pointer;
                transition: all .3s;
                &:hover {
                    color: var(--color1);
                }
            }

            button {
                background: none;
                border: none;
                /* margin: 0; */
                padding: 0;
                outline: none;
                color: #fff;
                transition: all .5s;
                font-family: 'Acrom Medium';
                width: 100%;
                text-align: left;
                &:hover {
                    color: var(--color1);
                }
            }

            .active {
                color: var(--color1);
                font-family: 'Acrom Medium';
            }
        }

        .tabcontent {
            padding: 15px;
            height: 70vh;
            overflow-y: scroll; 

            .online {
                color: var(--color1)
            }
        }
    }
}

.auth {
    padding-bottom: 100px;
    color: white;

    p {
        margin: 0;
    }
    // padding: 35px;
    .card {
        margin:auto;
        background: rgba(94, 93, 93, 0.31);
        box-shadow: 0px 4px 4px #000000;
        border-radius: 25px;

        .fw-bold {
            color: var(--color1);
        }

        h1 {
            font-family: 'Acrom Bold';
        }

        .name {
            p {
                font-family: 'Acrom Bold';
                font-size: 22px;
                text-align: center;
                color: var(--color1)
            }
        }

        .info {
            padding-top:94px;
            p {
                font-size: 16px;
            }

            span {
                font-weight: bold;
            }

            .group2, .group3 {
                padding-top:40px;
            }
        }

        .btn-groups {
            padding-top:94px;

            .btn {
                font-weight: bold;
                margin-bottom: 24px;
                background: #383838;
                border-color:#383838;
                border-radius: 17px;
                width: 100%;
                // height: 31px;

                &:hover {
                    background-color: var(--color1);
                    border-color: var(--color1);
                    color: white;
                }
            }
        }

        .other {
            hr {
                opacity: 1;
                height: 1px;
                color: #fff;
                background-color: #fff;
            }
            

            .row {
                padding-top:30px;

                .card {
                    border-radius: 20px;
                    height: 300px;

                    .text {
                        p {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}

footer {
    padding-top:35px;
    padding-bottom: 25px;
    background: linear-gradient(180deg, #121212 0%, rgba(24, 24, 24, 0.8) 100%);
    
    p {
        color: white;
        font-weight: bold;
    }
    .p {
        a {
            font-size: 16px;
            color: #B8B8B8;

            &:hover {
                color: var(--color1);
            }
        }
    }
}


.modal-content {
    border-radius: 30px;
    // height: 450px;
    .modal-body {
        h3 {
            font-family: 'Acrom Bold';
            text-transform: uppercase;
        }

        .form-control, select {
            box-shadow: 0px 1px 2px #000000;
            border-radius: 10px;
            // height: 50px;
        }
    }
    
    .modal-header {
        border-bottom: none;
    }
    
    .c-footer {
        border-top: none;
        justify-content: center;
        margin-bottom: 2rem;

        .content {
            width: 100%;
            .btn {
                background: black;
                border-color: black;
                margin-left: 25vh;
                color: #fff;
                width: 200px;
                height: 55px;
                border-radius: 10px;
                padding-top:1vh;
                &:hover {
                    background-color: var(--color1);
                    border-color: var(--color1);
                    color: #fff;
                }
            }
        }

        a {
            margin-top: 4vh;
            display: block;
            color:black;

            &:hover {
                color: var(--color1);
            }
        }
    }
}

